.fish__image {
    max-width: 30%;
    max-height: 30%;
}

.tipName {
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.location_image {
    max-width: 30%;
    max-height: 30%;
}